.navigation {
  background-color: black;
  padding: 10px;
  padding-bottom: 0px;
}

ul {
  list-style: none;
  display: flex;
  padding top: 10px;
  margin-bottom: 0px;
}

li {
  padding: 0px;
  padding-right: 30px;
  color: white;
}

h1 {
  color: white;
  position: absolute;
  padding-top: 40px;
  width: 100%;
  font-family: monospace;
}

.header {
  width: 100%;
  text-align: center;
}

.mainpicture {
  width: 100%;
  display: block;
}

h2 {
  font-size: 1.2em;
  text-align: center;
  margin: 20px;
  font-family: arial;
  }

h3 {
  font-size: 1.1em;
  margin-bottom: 0px;
  position: absolute;
  border: 2px solid black;
  background-color: black;
  color: white;
  padding: 5px;
  font-family: arial;
  margin: 5px;

}
.blogimage {
  width: 250px;
  height: 150px;
}

.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 750px) {
  .blogimage {
    width: 400px;
    height: 250px;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 1.6em;
  }

  ul{
    padding-left: 20px;
  }
  li {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1000px) {
  .navigation {
    position: fixed;
    width: 100%;
  }
  h1 {
    padding-top: 150px;
  }
}
